<div class="container fluid">
    <div class="row">
        <div class="col-12">
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, quidem ipsa reiciendis eius, ipsum veritatis sint numquam incidunt enim nostrum repellendus non ratione magnam architecto molestiae iure culpa, quae nam? Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Consequuntur blanditiis veritatis dolores, corporis nulla totam explicabo officiis autem vitae tempore officia vel pariatur cum fuga ipsa. Mollitia at accusamus sapiente.</h1>
        </div>
    </div>
</div>
